
.wrapper{
    display: grid;
    grid-template-columns: 5fr 3fr 2fr;
    /*grid-template-columns:repeat(3, 1fr 2fr); 1 2 1 2 diye tekrarla*/  
    grid-gap: 1em;
    grid-auto-rows:minmax(100,auto) ;
}

.wrapper > div{
    background: rgb(234, 103, 103);
}

.wrapper > div:nth-child(odd){
    
    padding: 1px;
    background: grey ;
    
}

.nested{
    
    display: grid;
    text-align: center;
    line-height: 5;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 80px;
    grid-gap: 1em;
}

.nested > div{
    border: 1px solid black;
}

.nested > div:nth-child(odd){
    background: rgb(246, 4, 4);
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}


.grid-container{
    background-color: green;
    margin: 30px 10px;
    height: 300px;

    display: grid;

}

.grid-item{
    background-color: rgb(137, 201, 8);
    color: white;
    font-size: 25px;
    text-align: center;

    width: 100px;
    line-height: 30px;
    margin-top: 10px;
    margin-left: 20px;
}

.about-us{
    background: rgb(237, 80, 80);
    height: 300px;
}

.submit-button{
    display: grid;
    background-color: rgb(123, 195, 7);
    color: white;
    font-size: 20px;
    width: 50px;
    padding: 10px 25px;
    border: 2px solid black;
    margin-top: 10px ;
    margin-left: 20px;
    
    /*transition: all X s ease etc.*/
   /*
       transition: background 1500ms linear;
    transition: padding 1000ms linear;
   */

}


.submit-button:hover{
    color: black;
    background: linear-gradient(to right,rgb(3, 125, 246),red,white,green,orange);
    padding: 20px 50px;

  /*
  background: linear-gradient(to right,rgb(3, 125, 246),red,white,green,orange);
  */  
    
}

.animate{
    display: grid;
    color: white;
    border: 2px solid black;
    width: 60px;
    height: 60px;
    margin: 30px;
    background: blue;
    text-align: center;
   
 
  
    animation-name: black2red;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite; /*sayı verebilirsin*/
    animation-direction: alternate;


    /*
    animation: name duration timing delay count direction;
    animation: black2red 2s linear 1s infinite alternate;
   
    animation: black2red 2s linear 1s infinite alternate;
   
    */


}




@keyframes black2red{

    from{
        background: black ;
        transform: translate(0px, 0px);
    }
    to{
        background: red;
        transform: translate(20px, 20px);
    }
}