#main-block {
    background: lightsalmon;
    grid-template-columns: 1fr;
    display: grid;
    height: 250px;
    line-height: 125px;
    text-align: center;

    font-size: 45px;
}

.buttons {
    background: lightgrey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    padding: 10px;

    font-size: 30px;

}

.start {
    background-color: lightblue;
    border: 1px solid black;

    margin: 10px;
}

.stop {
    background-color: lightpink;
    border: 1px solid black;

    margin: 10px;
}

.reset {
    background-color: rgb(175, 201, 218);
    border: 1px solid black;

    margin: 10px;
}

.set {
    background-color: lightslategray;
    border: 1px solid black;

    margin: 10px;
}



.start:hover,
.stop:hover,
.reset:hover,
.set:hover {
    border: 1px solid white;
    background: red;
}


